.ds_text {
  color: var(--ds-darkerBlack);
  margin-bottom: 0.35em;
}

.ds_text_align_right {
  text-align: right;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.32px;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.62rem;
  letter-spacing: -0.24px;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: -0.16px;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.87rem;
  letter-spacing: -0.16px;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.68rem;
  letter-spacing: -0.16px;
}

h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

p.ds_text_subtitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
}

p.ds_text_small {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
}

small {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.24px;
}

.ds_text_italic {
  font-style: italic;
}

.ds_text_bold {
  font-weight: bold;
}
