.input_frame {
  position: relative;
  margin-bottom: 5px;
}

.input_label {
  position: absolute;
  top: 2px;
  line-height: 14px;
  left: 0.5rem;
  font-size: 0.75rem;
  font-style: normal;
}

.input_label_disabled {
  color: var(--ds-secondaryBlack);
}

.input_content {
  display: block;
  width: 100%;
  height: 45px;
  padding: 1rem 0.5rem 0 0.5rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
  color: var(--ds-darkerBlack);
  border-bottom: 1px solid var(--ds-primaryBlack);
  background-color: var(--ds-background);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input_content:focus,
.input_content:active {
  border-bottom: 2px solid var(--ds-darkerBlack);
}

.input_content_disabled {
  color: var(--ds-secondaryBlack);
  border-bottom: 1px solid var(--ds-secondaryBlack);
}

.input_content_disabled:hover {
  cursor: not-allowed;
}

.input_content_error {
  border-bottom: 1px solid var(--ds-primaryOrange);
}

.input_content_error:focus,
.input_content_error:active {
  border-bottom: 2px solid var(--ds-primaryOrange);
}

.input_frame small {
  font-size: 10px;
  position: relative;
  bottom: 0.5rem;
  left: 0.5rem;
}

.input_helper_text {
  color: var(--ds-darkerBlack);
}

.input_error_text {
  color: var(--ds-primaryOrange);
}
